[submodule "extern/riscv-opcodes"]
	path = extern/riscv-opcodes
	url = https://github.com/scarv/riscv-opcodes.git
[submodule "extern/picorv32"]
	path = extern/picorv32
	url = https://github.com/cliffordwolf/picorv32.git
[submodule "extern/libscarv"]
	path = extern/libscarv
	url = https://github.com/scarv/libscarv.git
[submodule "extern/texmf"]
	path = extern/texmf
	url = https://github.com/scarv/texmf.git
